.issues-page {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: block;
}
.issues-page ul {
  list-style-type: none;
  }

.issue-body{
  border-bottom: 2px solid black;
  text-align: left;
}

.no-data{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
